.shaping {
    display: flex;
    flex-direction: column;
    margin: 10px 100px;
    min-height: calc(100vh - 255px);
    margin-top: 40px;
}


@media (max-width: 768px) {
    .shaping { 
        margin: 10px 20px;
        margin-top: 1px;
        
    }
    
}